JWT_SECRET=secret123

EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=user@ethereal.email # Генерируется автоматически при нажатии `Create Ethereal Account`
EMAIL_PASS=secret # Генерируется автоматически при нажатии `Create Ethereal Account`

NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_key
SUPABASE_SERVICE_ROLE_KEY=supabase_secret_key
NEXT_PUBLIC_SITE_URL=http://localhost:3000
